/**
 * Copyright Netvibes 2006-2009.
 * This file is part of Exposition PHP Server.
 *
 * Exposition PHP Server is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Exposition PHP Server is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with Exposition PHP Server. If not, see <http://www.gnu.org/licenses/>.
 */

/* uwa base stylesheets */

@import "base/uwa-core.css";
@import "base/uwa-typo.css";
@import "base/uwa-extras.css";
@import "base/uwa-icons.css";

/* to have a nicer look & feel, we import parts of the netvibes garlic theme */

@import "themes/garlic/uwa-core.css";
@import "themes/garlic/uwa-icons.css";

/* base layout */

* {
    margin:0;
    padding:0;
}

html {
    background:none;
}

body {
    text-align:left;
}

#wrapper {
    margin:auto;
    width:auto;
    border:0;
    background: transparent;
}

#contentWrapper {
    margin: 0;
    padding: 0;
    padding-left:15px;
    padding-right:14px;
    width: 333px;
    background: transparent url(dashboard/background.png) repeat-y center center;
}

#moduleHeader {
    margin: 0 0;
    background: transparent url(dashboard/moduleheader.png) no-repeat center center;
    height: 28px;
    line-height: 28px;
    padding: 0 21px;
    width: 320px;
}

#moduleContent {
    padding:  10px;
    margin-left:1px;
    margin-right:1px;
    max-height:550px;
    overflow:auto;
    -apple-dashboard-region: dashboard-region(control rectangle 0 0 0 0);
}

#moduleStatus {
    margin-left:1px;
    margin-right:1px;
    -apple-dashboard-region: dashboard-region(control rectangle 0 0 0 0);
}

#moduleStatus .share {
    left:30px;
}

#moduleFooter {
    height: 16px;
    padding:0 2px;
    margin: 0;
    width: 358px;
    background: transparent url(dashboard/bottom.png) no-repeat center center;
}

#moduleTitle {
    padding-top:7px;
}

#moduleIcon {
    padding-top:4px;
    padding-right:2px;
}

#editContent {
    background: transparent url(dashboard/background.png) repeat-y center center;
    border:0;
    padding: 8px 21px;
    width: 320px;
    margin:0;
    -apple-dashboard-region: dashboard-region(control rectangle 0 0 0 0);
}

.infoButton {
    position:absolute;
    top:2px;
    right:16px;
    height:13px;
    width:13px;
    top:6px;
}

#editContent form, #doneButton {
    margin-left:10px;
}

.nv-pager:after {
    content: "";
}

/* rules imported from /css/themes/base/screen.css */

a:link, a:visited{
    color: #333;
}
a:hover{
    color: #F60;
}
img{
    border: 0;
    -ms-interpolation-mode: bicubic;
}
table {
    padding: 0;
    margin: 0;
}
ul {
    padding-left: 5px;
}
li {
    list-style-type: none;
    background: transparent url(base/img/bullet.png) no-repeat left 0.5ex;
    margin-bottom: 2px;
    padding-left: 10px;
}

/* rules imported from /css/themes/garlic/screen.css */

a {
    text-decoration: none;
}

/* tune the editContent */

#editContent {
    display:block;
    margin-bottom:0;
}

