/**
 * Copyright Netvibes 2006-2009.
 * This file is part of Exposition PHP Server.
 *
 * Exposition PHP Server is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Exposition PHP Server is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with Exposition PHP Server. If not, see <http://www.gnu.org/licenses/>.
 */

/* uwa base stylesheets */

@import "base/uwa-core.css";
@import "base/uwa-typo.css";
@import "base/uwa-extras.css";
@import "base/uwa-icons.css";

/* to have a nicer look & feel, we import parts of the netvibes garlic theme */

@import "themes/dashboard/uwa-core.css";
@import "themes/dashboard/uwa-icons.css";

/* base layout */

* {
    margin:0;
    padding:0;
}

html, body {
    background:none;
    text-align:left;
}


#moduleHeader {
    -webkit-border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
}

#moduleFooter{
    -webkit-border-radius: 10px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-top-left-radius: 0px;
}

#moduleContent {
    -apple-dashboard-region: dashboard-region(control rectangle 0 0 0 0);
}

#moduleStatus {
    -apple-dashboard-region: dashboard-region(control rectangle 0 0 0 0);
}

#editContent {
    -apple-dashboard-region: dashboard-region(control rectangle 0 0 0 0);
}

#resizeButton {
    -apple-dashboard-region: dashboard-region(control rectangle);
}


