/**
 * Copyright Netvibes 2006-2009.
 * This file is part of Exposition PHP Server.
 *
 * Exposition PHP Server is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Exposition PHP Server is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with Exposition PHP Server. If not, see <http://www.gnu.org/licenses/>.
 */

/* uwa base stylesheets */

@import "base/uwa-core.css";
@import "base/uwa-typo.css";
@import "base/uwa-extras.css";
@import "base/uwa-icons.css";

/* to have a nicer look & feel, we import parts of the netvibes garlic theme */

@import "themes/garlic/uwa-core.css";
@import "themes/garlic/uwa-icons.css";


/* base layout */

* {
    margin:0;
    padding:0;
}

html {
    background: #FFF url(base/img/body.png) repeat-x top left;
}

body {
    text-align:center;
}

.module {
    width: 33%;
    margin:10% auto 0 !important;
    text-align:left;
}

a:link, a:visited{
    color: #333;
}

a:hover{
    color: #F60;
}

img{
    border: 0;
    -ms-interpolation-mode: bicubic;
}

table {
	padding:0;
	margin:0;
	border:0;
	border-collapse:collapse;
	font-size: 11px;
}

ul {
    padding-left: 5px;
}

ul li {
	background: url(base/img/bullet.png) no-repeat;
	background-position: 0 5px;
	margin-bottom: 2px;
	padding-left: 10px;
	list-style-type: none;
}

ol {
	padding-left: 30px;
}

ol li {
	padding-left: 0px;
}

h1, h2, h3, h4, p, ul, ol {
	margin:0.25em 0;
}

/* rules imported from /css/themes/garlic/screen.css */

a {
    text-decoration: none;
}

/* hand cursor not needed in Standalone environment */

.moduleHeader {
    cursor:inherit;
}

.moduleHeader .ico {
    padding: 2px 5px 0 3px !important;
}

/* tune the editContent */

.editContent {
    display:block;
    margin-bottom:0;
}

/* Wrapper */

body {
	text-align:center;
}

#wrapper {
	width: 33%;
	border: 3px solid #EEE;
	border: 1px solid #79A7E2;
	background: #FFF;
	margin:2% auto 2%;
	text-align:left;
}

#addto
{
    width: 33%;
	margin:0 auto 0;
	text-align:center;
}

#addto li
{
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    padding: 5px;
}

